:root {
  --container-width: #{$container-width-xs};
  --content-width: calc(100% - #{2 * $spacing-s});
  --grid-gutter: 24px;
  --grid-columns: 4;
  --alignwide-width: 100%;
  --contentwide-width: calc(100% - var(--grid-gutter));

  @include mq($from: small, $until: medium) {
    --container-width: #{$container-width-s};
    --grid-gutter: 24px;
    --grid-columns: 4;
  }

  @include mq($from: medium, $until: large) {
    --container-width: #{$container-width-m};
    --grid-gutter: 24px;
    --grid-columns: 8;
  }

  @include mq($from: large, $until: xlarge) {
    --container-width: #{$container-width-l};
    --grid-gutter: 24px;
    --grid-columns: 12;
    --content-width: calc(var(--container-width) / var(--grid-columns) * 8px);
    --alignwide-width: calc(var(--container-width) * 1px);
    --contentwide-width: var(--alignwide-width);
  }

  @include mq($from: xlarge) {
    --container-width: #{$container-width-xl}; // 1200
    --grid-gutter: 24px;
    --grid-columns: 12;
    --content-width: calc(var(--container-width) / var(--grid-columns) * 8px);
    --alignwide-width: calc(var(--container-width) * 1px);
    --contentwide-width: var(--alignwide-width);
  }
}
