.searchwp-live-search-results {
  border: solid 1px $color-black-90;
  box-shadow: none;
  border-radius: 0;
  margin-top: -3px; // align with field

  p {
    font-size: inherit;
    border-bottom: 0;
    padding: 12px 14px;

    a {
      color: inherit;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      background-color: $color-black-10;
    }
  }
}

// When input is focused, screen readers will read this regardless of display
// state due to aria-describedby. We do not want the text to be readable unless
// input is focused.
.searchwp-live-search-instructions {
  display: none;
}
