.site {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  height: 100%;
}

.site__banner {
  background-color: red;
  text-align: center;
  padding: $spacing-xs;
  color: white;

  a {
    color: white;

    &:hover {
      background-color: transparent;
    }
  }
}

.site__header {
  background-color: $color-white;
  z-index: 100;

  &.is-active {
    height: var(--app-height, 100vh);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    position: fixed;
    width: 100%;
    overflow-y: scroll;
  }
}

.site__content {
  //
}
