/**
 * Button
 */

.wp-block-button {
  border-radius: 0;

  &.is-style-outline {
    .wp-block-button__link {
      &:not(.has-text-color),
      &.has-white-color {
        border-color: $color-white;
        color: $color-white;
        background-color: transparent;

        &:hover {
          border-color: $color-black;
          background-color: $color-black;
          color: $color-white;
        }
      }

      &.has-black-color {
        border-color: $color-black;
        color: $color-black;
        background-color: transparent;

        &:hover {
          border-color: $color-white;
          background-color: $color-white;
          color: $color-black;
        }
      }
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0;
    font-size: 16px;
    padding: $spacing-layout-2-xs $spacing-layout-s;
    font-weight: 500;
    line-height: 1.25;

    &:focus {
      outline: solid 3px $color-coat-of-arms;
      outline-offset: 2px;
    }
  }
}
