.wp-block-cover {
  .wp-block-cover__inner-container {
    color: inherit;
    text-align: inherit;
    max-width: $content-width-max;
  }

  &:not(.has-background):not(.has-background-dim) {
    color: $color-white;
  }
}
