.gform_wrapper {
  ul li.gfield {
    margin-top: $spacing-l !important;
  }

  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
  select,
  textarea {
    border: 2px solid #808080 !important;
    width: 100% !important;
    max-width: $breakpoint-s !important;
    padding: $spacing-xs $spacing-s !important;
  }

  input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]),
  select,
  textarea {
    &:focus {
      outline: solid 3px $color-coat-of-arms-blue;
      outline-offset: 2px;
      box-shadow: none;
    }
  }

  input[type="submit"],
  input[type="button"] {
    border: 2px solid #808080 !important;
    width: auto !important;
    max-width: 100%;
    padding: $spacing-s $spacing-l !important;
    background-color: $color-coat-of-arms-blue;
    color: white !important;
  }

  label {
    font-size: $fontsize-h-4 !important;
  }

  .gfield_description {
    padding-top: 0 !important;
    max-width: $breakpoint-s !important;
    line-height: 1.5;
    font-size: 16px;
    font-weight: normal;
    color: #666;

    &.validation_message {
      color: #b01038 !important;
    }
  }

  .gfield.gfield_error {
    background-color: transparent !important;
    border: none !important;

    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
    textarea {
      border-color: #b01038 !important;
    }

    label {
      color: black;
    }
  }

  .validation_error {
    font-weight: normal !important;
    color: #b01038 !important;
    border: none !important;
    text-align: left !important;
  }
}
