.rns-plugin {
  .rns-header {
    margin-bottom: $spacing-xl !important;
    font-size: $fontsize-heading-l !important;
    font-family: $font-default !important;
    text-align: center;
  }

  .rns-reaction {
    .rns-reaction-button {
      padding-top: 20px !important;
      padding-bottom: 20px !important;

      .rns-label {
        color: $color-bus !important;
        font-weight: bold !important;
        font-family: $font-default;
        font-size: $fontsize-body-xl;
      }
    }

    &.selected .rns-reaction-button .rns-label {
      color: white !important;
    }
  }
}
