.related-content {
  // Related content has no top margin in order to overlap the entry content's
  // potential background color.
  &.is-style-koro-top-basic,
  &.is-style-koro-top-pulse {
    margin-top: 0 !important;
  }

  &__title {
    margin-bottom: $spacing-2-xl;
  }

  &__read-more-button {
    margin-top: $spacing-2-xl;
  }
}
