.search-result {
  &__thumbnail-wrapper {
    display: flex;
    align-items: center;
  }

  &__thumbnail {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 310 / 382 * 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--placeholder {
      // @todo Placeholder styles need to be defined and implemented.
      background-color: $color-black-10;
    }
  }

  &__title {
    font-size: $fontsize-h-3;
    line-height: $lineheight-m;
    margin: 0;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__excerpt {
    font-size: $fontsize-h-5;
    line-height: $lineheight-l;
    margin: 0;
  }

  &__title + .search-result__excerpt {
    margin-top: $spacing-layout-2-xs;
  }

  &__categories {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: $spacing-xs;
    font-size: $fontsize-body-default;
    text-transform: uppercase;

    li {
      display: inline-block;
      margin-right: $spacing-layout-2-xs;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
