.wp-block-person-list {
  &.layout-horizontal .person-teaser {
    margin-left: auto;
    margin-right: auto;
  }
}

.person-teaser {
  max-width: 280px;

  @include mq($until: medium) {
    width: 100%;
    max-width: unset;
  }

  figure {
    position: relative;
    margin: 0;
    padding-bottom: calc(min(100%, 280px));
    width: 280px;
    max-width: 100%;
    height: 0;

    @include mq($until: medium) {
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;

    li + li {
      margin-top: $spacing-s;
    }
  }

  &__email {
    a {
      font-size: $fontsize-h-4;
      color: inherit;
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__description {
    font-size: $fontsize-body-default;
  }

  &.layout-vertical {
    figure + ul {
      margin-top: $spacing-m;
    }
  }

  &.layout-horizontal {
    @include mq($until: xlarge) {
      figure + ul {
        margin-top: $spacing-m;
      }
    }
    @include mq($from: xlarge) {
      display: flex;
      align-items: center;
      max-width: 598px;

      figure + ul {
        margin-left: $spacing-m;
      }

      figure {
        flex-grow: 0;
        flex-shrink: 0;
      }

      ul {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }
}
