$icons: 'angle-down', 'alert-circle', 'book', 'calendar-clock', 'car',
  'car-wifi', 'check', 'clock', 'cogwheel', 'drone', 'ed-tech', 'envelope',
  'globe', 'group', 'heart', 'home', 'home-solar-panels', 'ship',
  'speechbubble', 'tree';

@each $icon in $icons {
  .has-#{$icon}-icon {
    background-image: svg-load('./images/icons/#{$icon}.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    @each $color-name, $color-value in $color-palette {
      &.has-#{$color-name}-color {
        background-image: svg-load('./images/icons/#{$icon}.svg', fill=$color-value);
      }
    }
  }
}
